@model Asp.NetMvc5_TatilSeyahatSitesi.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    Blog Güncelleme Sayfası
</h2>
<br />
@*kodlar ne zaman calıscak blog guncelle devreye girdiginde, blog güncelle nerede , blog güncelle ne zaman calıscak*@
@using (Html.BeginForm("GelenBlogSayfasınıGuncelle", "Admin", FormMethod.Post))
{
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.BlogId)
        @Html.TextBoxFor(x => x.BlogId, new { @class = "form-control", @readonly = "readonly" })  @*@readonly="readonly" bu sekilde ıd ye işlem yapılmaz*@
        <br />
        @Html.LabelFor(x => x.Baslık)  @*baslıgın labelı ve text boxı*@
        @Html.TextBoxFor(x => x.Baslık, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Tarih)
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.BlogImage)
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Aciklama)
        @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
        <br />
        <button class="btn btn-success"> Blog Güncelle</button>
    </form>
}

